.newContain{
    display: flex;
  
  
  margin-left: 15%;
    flex-direction: column;
   margin-top: 10%;
  

}

.row-1{
    display:flex;
}

.row-2{
    display:flex;
    // align-items: baseline;
   // gap: 3%;
    margin-top: 1%;
    flex-direction: row;
  
}

// Then, we use the > selector to target all immediate children of the row-2bis class and add margin-bottom: 10px
//  to give each row a margin at the bottom

.row-2bis{

    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 13%;


}

/* .row-2bis > * {
    margin-bottom: 10px;
  } */


 .dialog-box{
    display: flex;
    //gap:3%;
} 



.inputDoc{
    height: min-content;
    width: 900%;
    margin-left: 30px !important;
}

.desDoc{
    margin-left: 100px !important;
    width: 1500%;
}

.column1{
  //  background-color: rgb(117, 115, 115);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.column2{
    width: 400px;
    display: flex;
    flex-direction: column;
    // background-color: red;
    


    
}

.firstName, .lastName{
    display:flex;
    gap:15%;
    margin-bottom: 2%;
}

.program{
    display:flex;
    gap:19%;
    margin-top: 4%;
}

.email{
    display:flex;
    gap:25%;
}

/* .documents{
    display:flex;
    gap:3%;
} */

.sub-btn{
    width:70px;
    margin-left: 300px;
}

.success{
    color:green;
}

.add-btn{
    height: 50%;
    width:100%;
 
}

.mala{
    height: 50%;
    width:50%;
    margin-left: 100px !important;
  
}