.AnnexeOverall{
    margin-top: 3%;
    margin-left: 3%;
    padding-right: 5%;
    //background-color: orange;
}

.important{
    color: red;
}

.AnnexeAform{
    width: 100%;

}

.AnnexeTitle{
    margin-left: 25%;
}

.styleForForm{
    width: 100%;
}

.AnnexeName{
    margin-top: 6%;
   display: flex;
   gap: 8%;

  
  // flex-wrap: wrap; 
}

.AnnexeFather{
    margin-top: 3%;
}

.allInfoFather{
    margin-top: 2%;
    display: flex;
   // gap:10%;
}

.nomPrenomDaron{
    display: flex;
    gap: 11px;
}

.DateNaissanceDaron{
    margin-top: 2%;
   // display: flex;
   // gap:1%
}

.inputAnnexe{
    margin-left: 15px;
}

.inputAnnexeLow{
    margin-left: 8px;
}

.villeNaissance{
    display: flex;
    gap: 12px;;
}

.decePere{
    margin-top: 2%;

}

.dateDece{
    margin-top: 2%;
}

.AnnexeMother{
    margin-top: 2%;
}

.shitAboutMom{
    display: flex;
}

.nomPrenomDaronne{
    margin-top: 2%;
    display: flex;
    gap: 2%;
}

.momRow2{
    display: flex;
    gap: 2%;
}

.meredece{
    margin-top: 2%;
}

.yesNo{
    display: flex;
    flex-direction: column;
    //margin-top: 2%;
    font-size: 15px;
}

.yesNoPackage{
    margin-top: 2%;
}

.schoolNumber{
    display: flex;
    gap: 4%;
    margin-top: 2%;
}

.textColumn{
    font-size: 14px;
}

.textColumnSmaller{
    font-size: 12px;
}

.what{
    margin-top: 2%;
}

.border {
    border: 1px solid #000; /* Inside borders */
    padding: 10px;
    text-align: center;
}

.importantBis{
    color: blue;
}

.txtAntecedent {
    font-size: 15px;
}

.nextButton{
    margin-top: 17%;
}


